.bannerContainer{

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,1fr);
    height:fit-content;
    padding: 2rem 2%;
    background-color:#f1f1f1;;
    
    @media (min-width:1200px)
    {
        padding: 2rem 15%;
    }
    @media (max-width:650px)
    {
        grid-template-columns: 1fr;
    }
    
    .leftpart{
     
        position: relative;
      img{
        width:100%;
        object-fit: cover;
        height: auto;
      }

      .bannerText{
        position: absolute;
        top:2rem;
        left:3rem;
        h2{
          color: grey;
          letter-spacing: 0.3rem;
       }

       h1{
           font-size: 2rem;
           letter-spacing: 0.3rem;
           
       }
      }
    }

    .middlepart{
        position: relative;

img{
    width:100%;
    object-fit: cover;
  }
  .bannerText{
    position: absolute;
    top:2rem;
        left:3rem;
        h2{
          color: grey;
          letter-spacing: 0.3rem;
       }

       h1{
           font-size: 2rem;
           
           letter-spacing: 0.3rem;
       }
  }
    }
    .lastpart{
        position: relative;

img{
    width:100%;
    object-fit: cover;
  }
  .bannerText{
        position: absolute;
        top:2rem;
        left:3rem;
        h2{
           color: grey;
           letter-spacing: 0.3rem;
        }

        h1{
            font-size: 2rem;
         
             letter-spacing: 0.3rem;
        }
      }
    }
}