.cardContainer{
  
    padding: 2rem;
   
    width: fit-content;
    .cardPic{
        img{
            height: 25rem;
            width: 100%;
            object-fit: cover;

            @media (max-width:800px)
            {
                height: 20rem;
            }
        }

       
    }

    .cardTitle{
       h1{
           font-size: 2rem;
       }
    }

    .cardPrice{

    }
   
    
}