

.carousalImgContainer{
    position: relative;
    .carousalText{
        position: absolute;
        padding:4rem 4rem;
        display: flex;
        flex-direction: column;
        gap:1rem;
        .smallHeading{
            font-size: 1.5rem;
            font-weight: bold;
            color: #6a6a6a;
            letter-spacing: 0.6rem;
        }

        .bigHeadingweighted{
            font-size: 6rem;
            color: #535353;
            font-weight: bold;
        }
        .bigHeading{
            font-size: 6rem;
            color: #6a6a6a;
            font-weight:100;
           
        }
        .description{
            font-size: 1.3rem;
            color: #6a6a6a;
            letter-spacing: 0.3rem;
        }
    }

    .imageContainer{
        height:59rem;
        width:100%;
        .realImage{
            display: flex !important;
            justify-content: center;
            img{
                object-fit: cover;
            }
            
        
    }
    
   
        
        
    }
    
}