.App{
   
    padding: 2rem 0rem;
    
    .filternames{
        display: flex;
        justify-content: flex-start;
        gap:2rem;
        font-size: 2rem;
padding-bottom: 2rem;
        padding: 2rem 15%;
        margin-top: 3rem;
        font-weight: 800;
        background-color: rgb(241, 241, 241);
        @media (max-width:800px)
        {
            padding: 2rem 5%;
            font-size: 1.5rem;
        }

        .menu:hover{
            color: rgb(92, 50, 50);
            cursor: pointer;
        }
   } 
    
    .carousalContainer{
        padding: 1rem 15%;
        height:fit-content;
       background-color: rgb(241, 241, 241);
      
    }
  
}